# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Node
node_modules/
dist/
.env
.DS_Store

# Wails
build/bin/
frontend/dist/
wailsjs/

# Project specific
*.fb
*.fdb
config.yaml
config_loja.yaml
config_central.yaml
docs/
scripts/check_output.txt
temp/
